language: python
sudo: false
python:
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
# command to install dependencies
install:
  - "pip install -r requirements.txt"
  - "pip install 'coverage<4'"
  - "pip install coveralls"
# command to run tests
# running the test twice isn't very efficient but it does work
script:
  - coverage run --source isc_dhcp_leases setup.py test
  - python setup.py test
after_success: coveralls